<div id='game'>
  <div id="messages">
    <%if @loser %>
      <div class="alert alert-error"><%=@loser%></div>
    <% end %>
    <%if @winner %>
      <div class="alert alert-success"><%=@winner%></div>
    <% end %>
  </div>

  <% if @show_hit_or_stay_buttons %>
    <div class='heading'>
      <div id="player-options">
        <h2>What would you like to do?</h2>
        <p class="muted"><%= session[:player_name] %> has $<%= session[:player_pot] %>. Bet amount this round: $<%= session[:player_bet] %>.</p>

        <form id="hit_form" action="/game/player/hit" method='post'>
          <input type="submit" class="btn btn-success" value="Hit" />
        </form>
        <form id="stay_form" action="/game/player/stay" method='post'>
          <input type="submit" class="btn btn-warning" value="Stay" />
        </form>
      </div>
    </div>
  <% end %>


<% if @play_again %>
  <div id='play-again'>
    <h4>Play again?</h4>
    <a href="/bet" class="btn btn-success">Yes</a>
    <a href="/game_over" class="btn btn-warning"> No</a>
  </div>
<% end %>

<!-- <div class="well"> -->
<section id="dealer">
  <div class="bk-cards">
    <% if !@show_dealer_hit_button %>
      <h4>DEALER CARDS</h4>
    <% end %>
  <% session[:dealer_cards].each_with_index do |card, i| %>
    <% if session[:turn] != "dealer" && i == 0 %>
      <img src="/images/cards/cover.jpg">
    <% else %>
      <%= card_image(card) %>
    <% end %>
  <% end %>
  </div>
    <% if @show_dealer_hit_button %>
      <h5>Dealer has <%= calculate_total(session[:dealer_cards])%> and will hit.</h5>
      <form id="dealer_hit" action='/game/dealer/hit' method='post'>
          <input type='submit' class='btn btn-warning' value='Click to see dealer card &rarr;'>
        </form>
    <% end %>
</section>

<section id="player">
  <h4>PLAYER CARDS</h4>
  <div class="pl-cards">
  <% session[:player_cards].each do |card| %>
    <%= card_image(card) %>
  <% end %>
  </div>

  <% if @show_hit_or_stay_buttons %>
      <p><%= session[:player_name] %> has <%= calculate_total(session[:player_cards]) %></p>
  <% end %>

</section>



