<h1>Let's Play Blackjack!</h1>
<p>Welcome <%= session[:username] %>.</p>

<% if @play_again %>
  <form action="/game" method="get">
    <input type="submit" class="btn btn-large btn-primary" value="Play Again?"/>
  </form>
<% end %>

<div class="well">
  <h4>Dealer's cards:</h4>
    <% session[:dealer_cards].each do |card| %>
      <%= card_image(card) %>
    <% end %>
</div>
<% if @show_dealer_hit_button %>
  <p><h5>Dealer has <%= calculate_total(session[:dealer_cards])%> and will hit</h5>
    <form action="/game/dealer/hit" method="post">
    <input type="submit" class="btn btn-primary" value="Click to see dealer's next card &rarr;"/>
  </form>
</p>
<% end %>

<div class="well">
  <h4>Players's cards:</h4>
    <% session[:player_cards].each do |card| %>
      <%= card_image(card) %>
    <% end %>
</div>

<h4><%= session[:username] %> has <%= calculate_total(session[:player_cards]) %></h4>

<% if @show_hit_or_stay_buttons %>
  <p><%= session[:username] %>, what would you like to do?</p>
  <form id="hit_form" action="/game/player/hit" method="post">
    <input type="submit" class="btn btn-success" value="Hit"/>
  </form>
  <form id="stay_form" action="/game/player/stay" method="post">
    <input type="submit" class="btn btn-warning" value="Stay"/>
  </form>
<% end %>





