<h1>Let's Play Blackjack!</h1>
 <p>Welcome <%= session[:username] %>.</p>

<p>Dealer's cards:</p>
 <ul>
  <% session[:dealer_cards].each do |card| %>
    <li><%= card.to_s %></li>
  <% end %>
</ul>

<p>Players's cards:</p>
<ul>
  <% session[:player_cards].each do |card| %>
    <li><%= card.to_s %></li>
  <% end %>
</ul>

<h4><%= session[:username] %> has <%= calculate_total(session[:player_cards]) %></h4>

<p>Player has $500 total. Bet amount this round: $50</p>
<p>Hit or stay?</p>
<% if some_condition %>
<form action="/game/player/hit" method="post">
  <input type="submit" class="btn" value="Hit"/>
</form>

<form action="/game/player/stay" method="post">
  <input type="submit" class="btn" value="Stay"/>
</form>
<% end %>

